.tunnelBlock__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rem(15);
  padding: rem(15);

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(16);
    height: rem(160);
    color: color(white);
    background-color: color(secondaryDark);
  }
}